In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import my_module as kyd

In [2]:
# Load and read data
# path= '/content/drive/MyDrive/MyProjects/ML Projects/Unsupervised ML/BookRecommendationSystem/data/Ratings.csv'
path='./data/Ratings.csv'
df= pd.read_csv(path)
df.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [3]:
# Function displays shape, duplicates count and list of columns
kyd.knowYourData(df)

Shape:  (1149780, 3)
Duplicates count:  0
Columns:
['User-ID', 'ISBN', 'Book-Rating']

In [4]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User-ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book-Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [5]:
# Describe
df.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [6]:
# Unique
print(df.nunique())

User-ID        105283
ISBN           340556
Book-Rating        11
dtype: int64

In [7]:
# Unique value for Book-Rating
print(df['Book-Rating'].unique())

[ 0  5  3  6  8  7 10  9  4  1  2]

In [8]:
# Null/ Missing
df.isna().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64