### Know Your Data

In [1]:
# Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import my_module as kyd

In [2]:
# Load and read data
# path= '/content/drive/MyDrive/MyProjects/ML Projects/Unsupervised ML/BookRecommendationSystem/data/Users.csv'
path= './data/Users.csv'
df= pd.read_csv(path)
df.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [3]:
# Functions displays shape, duplicate count and list of columns
kyd.knowYourData(df)

Shape:  (278858, 3)
Duplicates count:  0
Columns:
['User-ID', 'Location', 'Age']

In [4]:
# Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [5]:
# Describe
df.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

In [6]:
# Null/ Missing
df.isna().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [7]:
# Unique
df.nunique()

User-ID     278858
Location     57339
Age            165
dtype: int64

We don't require this file for this project till now. Therefore we will leave it as it is.